
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
sbc
sip-monitor
sip-monitor-lb
__debug_bin*
Makefile
sip_monitor.db
coverage.html
coverage.out